.nav {
    background-color: #EBE0E9;
    display: flex;
    min-height: 50px;
    min-width: 850px;
    flex-direction: row;
    justify-content: center;
}

.item {
    padding: 5px;
    min-width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE0E9;

    color: #2D2E46;
    font-family: SF UI Display, serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    opacity: 0.4;
    }

.item:focus, .item:active, .item:hover {
    color: #2D2E46;
    font-size: 16px;
    opacity: 1;
    background-color: #DCCCDB;
    border-bottom: 3px solid #21268F;
}
