.App {
    display: grid;
    grid-template-areas:
    "a a"
    "b b"
    ;
    width: 1280px;
    height: 791px;
    top: -3055px;


    left: -2873px;
}
.a {
    grid-area: a;
}
.b {
    grid-area: b;
}

